div.main {
  width: 10em;
  padding: 2em;
  margin-top: 3em;
  font-family: Lora, Helvetica;
  font-size: 200%;
  border-radius: 4px;
}

.main.done {
  background-color: #89CBC6;
}

button.spin {
 margin-top: 3em;
}

