@import url('https://fonts.googleapis.com/css?family=Cutive');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.home {
}

.big-typewriter {
    width: 8em; /* you can use % */
    height: auto;
}

input#email {
    width: 20em;
 }

.announce {
    margin-top: 0em;
    margin-bottom: 7em;
    .card-header {
	background-color: #EDA;
	}
    .card-body {
	padding: 2em;
        background-color: lighten(#EDA, 10%);
    }

    i { font-size: 1.4em;
    color: red;
    margin-right: .4em;
    margin-left: .25em;
     }
}

.virtual {
    color:red;
    font-style: italic;
    i { 
      margin-right: .5em;
    }
}

.rekindle {
   h1 {
     font-family: 'Cutive', serif;
     color: #BD1A34;
   }
   h2 {
      font-family: 'Cutive', serif;
      color: #666;
  }
  h3 {
      margin-top: 2em;
      font-family: 'Cutive', serif;
      color: #666;
      font-size: 130%;
   }
  .infocard {
      border-top: solid 1px gray;
      padding-top: 3em;
     margin-top: 3em;

  }

  .map-marker {
     color: #666;
     margin-right: 1em;
   }
  .wordy-btn {
      font-family: Lobster;
      font-size: 200%;
  }
}


.next-meeting {
  .row {
    margin-bottom: 1em;
  }

}

.frame2 .alert {
    display: none;
    i {
	font-size: 200%;
        margin-right: .3em;
    }
}

.spinner {
    display: none;
    font-size: 200%;
    color: #888;
}
