@import url('https://fonts.googleapis.com/css?family=Cutive');
@import url('https://fonts.googleapis.com/css?family=Lobster');

$color-red: #BD1A34;
$color-red-darker: darken($color-red, 10%);
$color-wordy: #89CBC6;
$color-wordy-hover: saturate($color-wordy, 20%);

body {
 font-size: 120% !important;
}

A {
 color: $color-red !important;
}

.btn-primary {
   background-color: $color-red !important;
   color: white !important;
   border: none !important;
   &:hover {
     background-color: $color-red-darker !important;
   }
}

.big-typewriter {
    width: 5em; /* you can use % */
    height: auto;
}

input#email {
    width: 20em;
 }

.announce {
    margin-top: 0em;
    margin-bottom: 7em;
    .card-header {
	background-color: #EDA;
	}
    .card-body {
	padding: 2em;
        background-color: lighten(#EDA, 10%);
    }

    i { font-size: 1.4em;
    color: red;
    margin-right: .4em;
    margin-left: .25em;
     }
}

.summer {
    color: orange;
    i {
	font-size: 150%;
    }
}


h1, h3 { 
 font-family: 'CooperHewitt', 'Cutive', serif;
 text-transform: uppercase;
}

h1 {
  font-size: 60px !important;
  font-weight: 400;
  .re {
     color: $color-red;
  }
}
.rekindle h2 {
  font-weight: normal;
   color: #666;
}
.rekindle h3 {
  margin-top: 1em;
  color: #666;
}
h4 {
    color: #666;
}

.expect-head {
  font-family: 'CooperHewitt', 'Cutive', serif;
  color: #212529;
  font-size: 230%;  
}

.rekindle {
  .infocard {
      &.teal {
       h2 {
         color: white;
       }
       border-top: none;
       border-radius: 10px;
       background-color: $color-wordy;
      }

  }

  .map-marker {
     color: #666;
     margin-right: 1em;
   }
  a.wordy-btn {
      color: $color-red;
      background-color: white;
      border: none;
      font-family: Lobster;
      font-size: 200%;
      &:hover {
        color: darken($color-red-darker, 4%) !important;
        background-color: white;
      }
  }
}



.next-meeting {
  .row {
    margin-bottom: 1em;
  }

}

.frame2 .alert {
    display: none;
    i {
	font-size: 200%;
        margin-right: .3em;
    }
}

.spinner {
    display: none;
    font-size: 200%;
    color: #888;
}
